In [1]:
# READ DATA
import pandas as pd
dfs = pd.read_excel('OnlineRetail.xlsx', sheet_name='OnlineRetail')

In [2]:
# Checkout the data format
dfs.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [91]:
# statistics of Data
print dfs.describe()

            Quantity      UnitPrice     CustomerID    AmountSpend
count  397924.000000  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171      22.394749
std       180.420210      22.096788    1713.169877     309.055588
min         1.000000       0.000000   12346.000000       0.000000
25%         2.000000       1.250000   13969.000000       4.680000
50%         6.000000       1.950000   15159.000000      11.800000
75%        12.000000       3.750000   16795.000000      19.800000
max     80995.000000    8142.750000   18287.000000  168469.600000

In [4]:
# The first thing to notice is that we have some negative values in our dataset.
# Maybe, this could mean that these quantity was returned or cancelled. (Same for UnitPrice negative values)

In [5]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.8+ MB

In [6]:
#Our dataset is composed of 541909 rows and 8 columns. 
#When going through the columns, we notice that we have some missing values in the CustomerID column, 
#as it only has 406829 values. Also the column Description has missing values. 
#So, that should be considered when applying exploration to our dataset.

In [7]:
#UNIQUE Values 
#exploring the unique values of each attribute
print("Number of transactions: ", dfs['InvoiceNo'].nunique())
print("Number of products bought: ",dfs['StockCode'].nunique())
print("Number of customers:", dfs['CustomerID'].nunique() )
print("Percentage of customers NA: ", round(dfs['CustomerID'].isnull().sum() * 100 / len(dfs),2),"%" )
print('Number of countries: ',dfs['Country'].nunique())

('Number of transactions: ', 25900)
('Number of products bought: ', 4070)
('Number of customers:', 4372)
('Percentage of customers NA: ', 24.0, '%')
('Number of countries: ', 38)

In [8]:


# Note: The number of NA customers is quite large and that would impact the results.

# This dataframe contains 8 variables that correspond to:

# InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
# StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
# Description: Product (item) name. Nominal.
# Quantity: The quantities of each product (item) per transaction. Numeric.
# InvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.
# UnitPrice: Unit price. Numeric, Product price per unit in sterling.
# CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
# Country: Country name. Nominal, the name of the country where each customer resides.

#Now, let's have an idea about the quantitative data (Quantity & UnitPrice).

In [9]:
#df.isnull().any(), you can find just the columns that have NaN values:
dfs.isnull().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [10]:
#df.isnull().sum().sum() - This returns an integer of the total number of NaN values
dfs.isnull().sum().sum()

136534

In [11]:
##df.isnull().sum() - This returns an integer of the number of NaN values per Column
dfs.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [12]:
# Data Pre-Processing Steps
######################------------------------------#####################

In [13]:
# Filter out all the irrelevant columns from the Dataframe
# axis=1 denotes that we are referring to a column, not a row
# Dropping columns InvoiceNo, Description, Country, InvoiceDate

In [14]:
#dfs.drop('InvoiceNo', axis = 1)
dfs.index

RangeIndex(start=0, stop=541909, step=1)

In [15]:
Datframe_dropcolms  = dfs.drop(['Description', 'Country'], axis=1)

In [16]:
Datframe_dropcolms.dtypes

InvoiceNo              object
StockCode              object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
dtype: object

In [17]:
#######--------------------------------------------------------------------------------------------------------------#####
# Cancelled invoices

# As mentioned in the description of the dataset, some InvoiceNo start with the letter "c" = cancelled. Let's see if our hypothesis is correct about the negative quantity: -80995.
# We will look for the list of cancelled invoices and check if there is an invoice with that quantity.

In [18]:
#get canceled transactions
cancelled_orders = dfs[dfs['InvoiceNo'].astype(str).str.contains('C')]
cancelled_orders.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548.0,United Kingdom

In [19]:
# How much canceled orders do we have?

In [20]:
#check how many rows our dataframe of cancelled orders contain
print("We have ",len(cancelled_orders), " cancelled orders.")
#percentage of cancelled orders in total orders
total_orders = dfs['InvoiceNo'].nunique()
cancelled_number = len(cancelled_orders)
print('Percentage of orders canceled: {}/{} ({:.2f}%) '.format(cancelled_number, total_orders, cancelled_number/total_orders*100))

('We have ', 9288, ' cancelled orders.')
Percentage of orders canceled: 9288/25900 (0.00%)

In [21]:
#remove canceled orders
dfs = dfs[dfs['Quantity']>0]
dfs.shape

(531285, 8)

In [22]:
#remove rows where customerID are NA
dfs.dropna(subset=['CustomerID'],how='all',inplace=True)
dfs.shape

(397924, 8)

In [23]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      397924 non-null object
StockCode      397924 non-null object
Description    397924 non-null object
Quantity       397924 non-null int64
InvoiceDate    397924 non-null datetime64[ns]
UnitPrice      397924 non-null float64
CustomerID     397924 non-null float64
Country        397924 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 21.3+ MB

In [24]:
##### Build the Matrix [User,Items]
List_Unique_items = dfs['Description'].unique()
List_Unique_items = dfs['StockCode'].unique()

In [25]:
List_Unique_items.tolist()

[u'85123A',
 71053,
 u'84406B',
 u'84029G',
 u'84029E',
 22752,
 21730,
 22633,
 22632,
 84879,
 22745,
 22748,
 22749,
 22310,
 84969,
 22623,
 22622,
 21754,
 21755,
 21777,
 48187,
 22960,
 22913,
 22912,
 22914,
 21756,
 22728,
 22727,
 22726,
 21724,
 21883,
 10002,
 21791,
 21035,
 22326,
 22629,
 22659,
 22631,
 22661,
 21731,
 22900,
 21913,
 22540,
 22544,
 22492,
 u'POST',
 22086,
 20679,
 37370,
 21871,
 21071,
 21068,
 82483,
 82486,
 82482,
 u'82494L',
 21258,
 22114,
 21733,
 22386,
 u'85099C',
 21033,
 20723,
 u'84997B',
 u'84997C',
 21094,
 20725,
 21559,
 22352,
 21212,
 21975,
 21977,
 84991,
 u'84519A',
 u'85183B',
 u'85071B',
 21931,
 21929,
 22961,
 22139,
 84854,
 22411,
 82567,
 21672,
 22774,
 22771,
 71270,
 22262,
 22637,
 21934,
 21169,
 21166,
 21175,
 u'37444A',
 u'37444C',
 22083,
 u'84971S',
 47580,
 22261,
 84832,
 22644,
 21533,
 21557,
 u'15056BL',
 u'15056N',
 22646,
 22176,
 22438,
 22778,
 22719,
 21523,
 21912,
 21832,
 22379,
 22381,
 22798,
 22926,
 22839,
 22838,
 22783,
 82484,
 84755,
 22464,
 21324,
 22457,
 22469,
 22470,
 22224,
 21340,
 22189,
 22427,
 22428,
 22424,
 22663,
 u'85049A',
 22168,
 22662,
 84880,
 u'85099B',
 79321,
 22780,
 22779,
 22466,
 21363,
 21411,
 22318,
 22915,
 22922,
 22969,
 22923,
 21115,
 22242,
 22941,
 21622,
 u'35004C',
 u'35004G',
 u'85014B',
 u'85014A',
 22193,
 22192,
 22191,
 22195,
 22196,
 22962,
 22963,
 22968,
 u'84970S',
 22910,
 20668,
 22197,
 22198,
 21080,
 21086,
 21786,
 22654,
 21485,
 u'84030E',
 22174,
 22150,
 22619,
 21891,
 21889,
 22827,
 22127,
 22128,
 22502,
 22338,
 22180,
 21506,
 22866,
 22865,
 22349,
 22558,
 85152,
 22652,
 22188,
 21484,
 21314,
 22730,
 22729,
 22867,
 22803,
 u'35004B',
 21980,
 21844,
 22468,
 48185,
 21232,
 22064,
 22449,
 22835,
 22112,
 21479,
 22111,
 22110,
 22098,
 22100,
 22766,
 22451,
 22549,
 84744,
 u'85049E',
 21328,
 u'17091A',
 22473,
 u'84509A',
 u'84510A',
 22767,
 22768,
 21463,
 21464,
 20820,
 85150,
 22117,
 48129,
 82580,
 82578,
 82581,
 22413,
 21907,
 22441,
 21122,
 22851,
 22810,
 22809,
 22435,
 20966,
 20963,
 20961,
 22068,
 21743,
 21744,
 u'84709B',
 21592,
 21587,
 20992,
 22804,
 20749,
 22382,
 20726,
 22384,
 22467,
 u'84625C',
 u'84625A',
 21108,
 22848,
 u'47570B',
 22837,
 22297,
 22772,
 22773,
 22805,
 21125,
 21126,
 u'85049C',
 u'85049D',
 u'85049G',
 21061,
 21063,
 21062,
 84380,
 84378,
 22964,
 21213,
 22417,
 84992,
 22383,
 20728,
 20727,
 22296,
 20914,
 22537,
 22533,
 20982,
 21915,
 21914,
 21544,
 22813,
 84375,
 22418,
 22178,
 u'84970L',
 22465,
 84949,
 20685,
 48194,
 22488,
 22219,
 22610,
 22716,
 22706,
 22371,
 21210,
 22553,
 16237,
 22714,
 22812,
 84347,
 22736,
 22620,
 21705,
 u'90199C',
 22785,
 22975,
 22972,
 22568,
 85116,
 22664,
 21609,
 21866,
 20669,
 u'90129F',
 u'90210B',
 21955,
 u'72802C',
 22109,
 22531,
 21811,
 22183,
 21678,
 21676,
 u'85169B',
 16238,
 84906,
 21867,
 22075,
 21326,
 21065,
 22074,
 20713,
 21116,
 21824,
 21823,
 22153,
 u'85099F',
 20717,
 22328,
 22327,
 22630,
 21245,
 21244,
 21242,
 21243,
 22273,
 22940,
 22759,
 21880,
 21738,
 22077,
 21448,
 22243,
 22141,
 22144,
 21739,
 22271,
 22274,
 22751,
 21034,
 22570,
 22569,
 22902,
 21710,
 21708,
 21711,
 22179,
 21706,
 u'85184C',
 22988,
 20750,
 22952,
 22739,
 22738,
 22909,
 u'35591T',
 22186,
 22695,
 22580,
 22147,
 22130,
 22694,
 21790,
 22149,
 22321,
 22594,
 22593,
 22595,
 21986,
 22750,
 22616,
 22775,
 22899,
 22367,
 22942,
 21976,
 22951,
 22834,
 21916,
 22587,
 22566,
 22565,
 22472,
 22557,
 22551,
 22554,
 22534,
 22529,
 22530,
 u'84032B',
 u'85049H',
 22807,
 21494,
 22938,
 21892,
 21890,
 21718,
 21716,
 21715,
 22113,
 22358,
 22357,
 22115,
 21481,
 22585,
 21556,
 22645,
 22650,
 22508,
 22511,
 22829,
 21154,
 17021,
 22059,
 84678,
 85172,
 22142,
 21591,
 22480,
 22294,
 21156,
 10133,
 u'72800E',
 84836,
 20774,
 20773,
 20777,
 16016,
 16014,
 21651,
 22618,
 21586,
 22152,
 84754,
 22670,
 u'84849B',
 22927,
 22925,
 21259,
 21257,
 21121,
 82552,
 u'90200B',
 u'90059B',
 u'90185C',
 u'90059E',
 u'90059C',
 u'90200C',
 u'90200D',
 u'90200A',
 22737,
 21260,
 22744,
 21985,
 22295,
 u'16258A',
 21992,
 21124,
 22735,
 22945,
 21816,
 21815,
 21814,
 10125,
 22573,
 22577,
 22603,
 20878,
 20866,
 85095,
 22333,
 21584,
 22731,
 22956,
 22582,
 u'85231B',
 u'85231G',
 22082,
 22500,
 22742,
 21329,
 21327,
 u'48173C',
 72818,
 22312,
 21137,
 22041,
 20979,
 20977,
 22571,
 22423,
 21621,
 u'47563A',
 u'84558A',
 21577,
 22087,
 22651,
 22713,
 21370,
 21367,
 22376,
 21895,
 22372,
 21190,
 21894,
 70007,
 u'46000M',
 22712,
 22983,
 22024,
 21488,
 22895,
 22784,
 21441,
 84947,
 22485,
 21794,
 20707,
 22588,
 21292,
 22760,
 22107,
 21486,
 22151,
 22643,
 22642,
 22604,
 22099,
 22653,
 22906,
 22754,
 22919,
 22917,
 22920,
 22921,
 22918,
 22916,
 22575,
 21804,
 21588,
 22955,
 22583,
 22241,
 22904,
 22905,
 22092,
 22096,
 21358,
 21123,
 21427,
 21930,
 20772,
 u'71406C',
 u'84985A',
 20754,
 u'84596E',
 21111,
 22501,
 22854,
 u'84997D',
 u'47599A',
 u'47599B',
 20972,
 21041,
 21664,
 22907,
 22776,
 21810,
 21197,
 u'85035B',
 u'84968C',
 21098,
 21192,
 u'72800B',
 u'84563A',
 u'47504H',
 21742,
 22481,
 22943,
 22699,
 22217,
 22227,
 21106,
 21107,
 22697,
 21826,
 22548,
 u'17164B',
 22429,
 20974,
 20973,
 u'15044B',
 21135,
 22173,
 22626,
 22625,
 22624,
 84945,
 22244,
 47421,
 20712,
 22973,
 u'84569B',
 22815,
 u'85114B',
 22584,
 22454,
 u'85114C',
 22974,
 21452,
 22743,
 22911,
 22453,
 22445,
 22607,
 22635,
 22634,
 22222,
 22947,
 22187,
 22164,
 72598,
 22627,
 22487,
 22360,
 22364,
 21657,
 22120,
 21038,
 21625,
 22097,
 21179,
 22185,
 21662,
 85104,
 21654,
 21658,
 21519,
 22819,
 22704,
 21498,
 22049,
 21497,
 21333,
 22194,
 22688,
 84692,
 22444,
 22556,
 22555,
 22547,
 22543,
 22539,
 22561,
 22489,
 22814,
 21520,
 21982,
 21981,
 21967,
 21983,
 22615,
 22614,
 22095,
 22094,
 21984,
 22966,
 21874,
 21873,
 21870,
 84050,
 22315,
 22667,
 22666,
 22665,
 22567,
 82600,
 22842,
 22494,
 22740,
 22825,
 22680,
 22797,
 21843,
 22118,
 22121,
 22119,
 22311,
 72817,
 22277,
 20867,
 21688,
 21694,
 22800,
 22801,
 22781,
 21466,
 21467,
 21471,
 21469,
 21524,
 22791,
 21690,
 37343,
 22088,
 21143,
 84944,
 22601,
 22600,
 22574,
 u'85199L',
 u'85199S',
 72741,
 37495,
 22171,
 85067,
 48184,
 48138,
 u'85019A',
 u'85019C',
 20902,
 21429,
 u'85071A',
 u'85071C',
 22355,
 21579,
 21576,
 22493,
 21833,
 u'85135B',
 u'85136A',
 u'85136C',
 21055,
 21056,
 u'C2',
 21928,
 20711,
 u'79144B',
 22482,
 21917,
 22599,
 22597,
 22336,
 21922,
 35961,
 21495,
 u'46000R',
 u'46000S',
 84920,
 22953,
 u'84508A',
 22471,
 21935,
 21670,
 22786,
 85064,
 22212,
 22678,
 22686,
 u'85232B',
 84685,
 22755,
 20616,
 22753,
 u'79066K',
 22794,
 22592,
 84352,
 22795,
 22278,
 u'84884A',
 u'51014C',
 u'51014L',
 u'51014A',
 22366,
 22876,
 48111,
 22847,
 22846,
 22402,
 22400,
 22399,
 u'79302M',
 37446,
 37449,
 21231,
 u'84509B',
 22313,
 22314,
 21181,
 21818,
 22976,
 21668,
 21462,
 22496,
 u'84870C',
 u'84870B',
 22765,
 21351,
 21191,
 22581,
 22639,
 22579,
 22572,
 21809,
 21147,
 22640,
 22641,
 22638,
 22576,
 21817,
 21813,
 21808,
 21014,
 21018,
 22946,
 u'M',
 22816,
 22818,
 22660,
 21761,
 21781,
 u'85032D',
 22696,
 84360,
 35954,
 35957,
 u'84760S',
 72816,
 u'35598D',
 85045,
 21352,
 22065,
 u'35598B',
 85048,
 22589,
 22578,
 22855,
 21864,
 u'15056P',
 85174,
 82615,
 85038,
 20971,
 21354,
 22965,
 21374,
 21365,
 u'84032A',
 u'84031A',
 21509,
 22025,
 22725,
 37448,
 22421,
 17003,
 u'84997A',
 21136,
 71477,
 22030,
 22135,
 u'90214M',
 u'90214V',
 u'90214S',
 u'90214J',
 22378,
 21888,
 21789,
 21238,
 21629,
 u'72807C',
 22497,
 21850,
 20978,
 20768,
 22081,
 20780,
 21398,
 22476,
 21643,
 21620,
 22260,
 22136,
 u'47591B',
 22519,
 21472,
 21877,
 22524,
 20765,
 21704,
 21703,
 u'85035C',
 u'72803A',
 20682,
 40001,
 21709,
 22220,
 u'85034A',
 u'72798C',
 u'35271S',
 21380,
 21221,
 20755,
 21421,
 21422,
 22617,
 22863,
 22792,
 21364,
 21042,
 u'47567B',
 22272,
 21172,
 u'72760B',
 22602,
 22365,
 22507,
 u'62096A',
 u'85071D',
 21272,
 22044,
 21918,
 22029,
 22037,
 21360,
 84077,
 22898,
 84792,
 21356,
 85175,
 20893,
 20975,
 22440,
 22434,
 22564,
 21215,
 21058,
 21060,
 21719,
 21722,
 84826,
 21881,
 10135,
 22422,
 22536,
 22491,
 21355,
 21518,
 22023,
 22027,
 22718,
 22717,
 22028,
 21669,
 21671,
 21673,
 22245,
 22460,
 22432,
 22433,
 22431,
 84674,
 ...]

In [26]:
List_Unique_items.shape

(3665,)

In [27]:
List_Unique_users = dfs['CustomerID'].unique()
List_Unique_users.shape

(4339,)

In [28]:
###### Multiplying Quantity and UnitPrice columns to get a new column : AmountSpend########
dfs['AmountSpend'] = dfs['Quantity']*dfs['UnitPrice']

In [29]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      397924 non-null object
StockCode      397924 non-null object
Description    397924 non-null object
Quantity       397924 non-null int64
InvoiceDate    397924 non-null datetime64[ns]
UnitPrice      397924 non-null float64
CustomerID     397924 non-null float64
Country        397924 non-null object
AmountSpend    397924 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 24.3+ MB

In [30]:
dfs.tail(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,AmountSpend
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [31]:
#### Check if there is a negative AmountSpend in the filtered database
#  len(DataFrame.index) is equal to number of rows
negative_amountSpend = dfs[dfs['AmountSpend'] < 0]
len(negative_amountSpend.index)

0

In [32]:
###  Here we can see that there is no negative amount spend
## now to think about how to create User, Item matrix 
## My approach is to consider how much money did each User spent on each Item
##

In [33]:
## Keeping relevant coluns from the Database
matrix_setup = dfs[['StockCode','CustomerID','AmountSpend']]
matrix_setup.shape

(397924, 3)

In [34]:
matrix_setup.head(10)

  StockCode  CustomerID  AmountSpend
0    85123A     17850.0        15.30
1     71053     17850.0        20.34
2    84406B     17850.0        22.00
3    84029G     17850.0        20.34
4    84029E     17850.0        20.34
5     22752     17850.0        15.30
6     21730     17850.0        25.50
7     22633     17850.0        11.10
8     22632     17850.0        11.10
9     84879     13047.0        54.08

In [35]:
dfs.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            541899, 541900, 541901, 541902, 541903, 541904, 541905, 541906,
            541907, 541908],
           dtype='int64', length=397924)

In [38]:
List_Customers = dfs['CustomerID'].unique()
List_Items = dfs['StockCode'].unique()

In [41]:
matrix_setup.shape

(397924, 3)

In [42]:
# Numpy matrix  uses 'iloc' to identify row and column, location of the cell
#.iloc is primarily integer position based (from 0 to length-1 of the axis)
print(matrix_setup.iloc[0][0])
print(matrix_setup.iloc[0][1])
print(matrix_setup.iloc[0][2])

85123A
17850.0
15.299999999999999

In [44]:
matrix_setup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397924 entries, 0 to 541908
Data columns (total 3 columns):
StockCode      397924 non-null object
CustomerID     397924 non-null float64
AmountSpend    397924 non-null float64
dtypes: float64(2), object(1)
memory usage: 10.6+ MB

In [61]:
# implementing SVD and SVD++ with scikit-surprise
from surprise import SVD,SVDpp,evaluate

In [93]:
#The name SurPRISE (roughly :) ) stands for Simple Python RecommendatIon System Engine.
from surprise import SVD
from surprise.dataset import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise.dataset import DatasetAutoFolds

In [84]:
# DatasetAutoFolds.split : 	Split the dataset into folds for future cross-validation.
#DatasetAutoFolds(ratings_file=None, reader=None, df=None)
# A derived class from Dataset for which folds (for cross-validation) are not predefined.
# (Or for when there are no folds at all).
#data = DatasetAutoFolds(ratings_file=None, reader=None, df=df)

In [110]:
#classmethod load_from_df(df, reader)
#reader = Reader(rating_scale=(0, 1))
#datac = Dataset.load_from_df(df=df,reader = None)

In [112]:
#def load_from_df(cls, df, reader):
#        """Load a dataset from a pandas dataframe.
 #       Use this if you want to use a custom dataset that is stored in a pandas
#        dataframe. See the :ref:`User Guide<load_from_df_example>` for an
 #       example.
 #       Args:
 #           df(`Dataframe`): The dataframe containing the ratings. It must have
 #               three columns, corresponding to the user (raw) ids, the item
  #              (raw) ids, and the ratings, in this order.
  #          reader(:obj:`Reader <surprise.reader.Reader>`): A reader to read
  #              the file. Only the ``rating_scale`` field needs to be
  #              specified.

In [142]:
# now can we use matrix_setup datafrmae for Surprise Libraryand use SVD,SVD++, NNMF

#define the reader
reader = Reader(rating_scale= (0,1))

# Assigning data as matrix_setup
data = Dataset.load_from_df(df=matrix_setup[['CustomerID','StockCode','AmountSpend']],reader=reader)

In [143]:
# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     23.9929 20.9757 21.1114 20.4354 20.5725 21.4176 1.3115
RMSE (testset)    662.2427155.689579.6912 69.4760 76.6870 208.7573228.8952
Fit time          901.59  900.94  901.74  900.15  899.38  900.76  0.89
Test time         1.03    0.60    0.60    0.59    0.58    0.68    0.17

{u'fit_time': (901.5880000591278,
  900.9370000362396,
  901.7389998435974,
  900.1480000019073,
  899.375),
 u'test_mae': array([23.9928946 , 20.97572935, 21.1114436 , 20.43543909, 20.5724613 ]),
 u'test_rmse': array([662.24270931, 155.68951953,  79.69123537,  69.47598591,
         76.68695806]),
 u'test_time': (1.0310001373291016,
  0.6040000915527344,
  0.6019999980926514,
  0.5940001010894775,
  0.5780000686645508)}

In [127]:
# swap columns so that userID is the first column
matrix_toPass = matrix_setup[['CustomerID','StockCode','AmountSpend']]

In [133]:
matrix_toPass.head()

   CustomerID StockCode  AmountSpend
0     17850.0    85123A        15.30
1     17850.0     71053        20.34
2     17850.0    84406B        22.00
3     17850.0    84029G        20.34
4     17850.0    84029E        20.34

In [134]:
import platform; print(platform.platform())
import sys; print("Python", sys.version)
import surprise; print("surprise", surprise.__version__)

Windows-7-6.1.7601-SP1
('Python', '2.7.14 |Anaconda, Inc.| (default, Nov  8 2017, 13:40:13) [MSC v.1500 32 bit (Intel)]')
('surprise', '1.0.5')

In [137]:
matrix_toPass['AmountSpend'].describe()

count    397924.000000
mean         22.394749
std         309.055588
min           0.000000
25%           4.680000
50%          11.800000
75%          19.800000
max      168469.600000
Name: AmountSpend, dtype: float64